.MedicationList {
  width: 65%;
  overflow-y: scroll;
  background-color: white;
  margin: 0 auto 20px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 10px 12px rgba(0, 0, 0, 0.1);
}
