.Medication {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1rem;
  transition: all 0.4s ease;
  border-radius: 2px;
}

.Medication-main-info {
  display: flex;
  justify-content: space-between;
}

.Medication-name {
  font-weight: 500;
}

.Medication:hover {
  cursor: pointer;
  background-color: var(--lightgreen);
}

.Medication-extra-info {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  text-align: center;
}

.Medication-tag {
  padding: 3px;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 0.8rem;
  line-height: 1rem;
}

.brand {
  background-color: var(--lightpink);
}

.generic {
  background-color: var(--lightgreen);
}

.Medication-button {
  font-size: 0.6rem;
  /* position: fixed; */
}

.Medication-package-info {
  font-size: 0.8rem;
  transition: height 0.5s ease;
  overflow: hidden;
}

.open {
  height: 80px;
}

.closed {
  height: 0px;
}

#snowflake {
  line-height: 1rem;
}
